/* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Box-sizing border-box */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #21ce99;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #21ce99;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}
a, a:hover, a:visited {
    color: #18b182;        
}
button:hover {
  background-color: #21ce99;
}

body .ngx-datatable.material.striped .datatable-row-odd {
    background: rgba(33, 206, 153, 0.25);
}
.down, .down a{
    color: red;
}
.up, .up a{
    color: #21ce99;  
    display: inline;  
}

body .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
    background-color: #21ce99;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
    background-color: rgba(33, 206, 153, .5);
}
.ngx-datatable.material{
    margin-top: .25em;
}
.ngx-datatable.material .empty-row {
    height: auto;
    text-align: center;    
    padding: 1.5em;
}
body .ngx-datatable.material .datatable-body .progress-linear .container{
    background-color: #90e6cc;
}
.ngx-datatable.material .datatable-body .progress-linear .container .bar{
    background-color: #118863;
}